# 유니티 관련 디렉토리 및 파일 무시
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio 관련 파일 무시
.vscode/
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.userprefs
*.pidb
*.booproj
*.svd

# Rider 관련 파일 무시
.idea/
*.sln.iml

# OS 관련 파일 무시
.DS_Store
Thumbs.db

# 빌드 결과물 무시
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.xcodeproj
*.xcworkspace
*.xcuser*

# 기타 무시할 파일들
*.log
*.swp